
.icon-spin5:before { content: '\e800'; } /* '' */
.icon-youtube-play:before { content: '\e80a'; } /* '' */
.icon-spinner:before { content: '\e803'; } /* '' */
.icon-terminal:before { content: '\e802'; } /* '' */
.icon-github:before { content: '\e804'; } /* '' */
.icon-spin6:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\e806'; } /* '' */
.icon-gplus-squared:before { content: '\e807'; } /* '' */
.icon-gplus:before { content: '\e808'; } /* '' */
.icon-windows:before { content: '\e809'; } /* '' */
.icon-github-squared:before { content: '\e805'; } /* '' */